:root {
  --white: #ffffff;
  --grey: #666666;
  --mediumgrey: #383838;
  --lightmediumgery: #3f3f3f;
  --lightgrey: #c8ccd6;
  --darkgrey: #303030;
  --blue: #3f8ffd;
  --black: #343a40;
  --white-transparent: rgba(255, 255, 255, 0.8);
  --transparent: rgba(255, 255, 255, 0);
  --shadow: rgba(0, 0, 0, 0.2);
}
* {
  font-family: "SF Pro Display", sans-serif;
}
.section {
  align-items: center;
  margin: 0rem 6rem;
  /* background-color: rgb(254, 196, 167); */
}
@media (max-width: 768px) {
  .section {
    margin: 2rem;
  }
}
.container {
  align-items: center;
  /* background-color: coral; */
}
.btn-styled ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.btn-styled .btn {
  background-color: var(--blue);
  border-radius: 10px;
  font-weight: bold;
  color: var(--white);
  padding: 0.7rem 1rem;
}
.sub-title {
  width: 10rem;
  text-align: center;
  padding: 0.5rem 0rem;
  border: 1px solid;
  border-radius: 50px;
}
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: var(--white-transparent) !important;
  backdrop-filter: blur(25px);
  padding: 0.7rem 6rem !important;
  box-shadow: 0 2px 7px var(--shadow);
  margin-top: -4px;
}
.navbar img {
  width: 2.7rem;
  height: 2.7rem;
}
.navbar .btn {
  width: 9rem;
}
.nav-item {
  color: var(--black);
  font-weight: bold;
}
@media (max-width: 768px) {
  .navbar {
    padding: 0.7rem 2rem !important;
  }
}
/* Hero Section */
.hero-container {
  display: flex;
  justify-content: flex-end;
}
.hero-img {
  width: 100% !important;
  height: 100vh !important;
  max-width: 80% !important;
  object-fit: cover;
  border-bottom-left-radius: 100px;
}
@media (max-width: 992px) {
  .hero-img {
    height: 40rem !important;
  }
}

.hero {
  position: absolute;
  top: 0 !important;
  margin-top: 6rem;
  width: 60%;
}
.hero-text {
  position: relative;
  margin: 0rem 6rem;
  padding: 2rem 1rem;
  border-radius: 15px;
  z-index: 2;
}
.hero-text-bg {
  position: absolute;
  top: 0;
  left: 4rem;
  bottom: 0;
  right: 0;
  background-color: var(--white-transparent);
  backdrop-filter: blur(25px);
  box-shadow: 0px 2px 7px var(--shadow);
  border-radius: 15px;
  z-index: 1;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
}
.hero-desc {
  font-size: 1.5rem;
}
@media (max-width: 1400px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-text {
    padding: 2rem 1rem;
  }
}
@media (max-width: 1200px) {
  .hero-text-bg {
    left: 2rem;
    right: 2rem;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-text {
    padding: 2rem 1rem;
    margin: 0rem 4rem;
  }
}
@media (max-width: 992px) {
  .hero-text-bg {
    left: 2rem;
    right: 2rem;
  }
  .hero-text {
    padding: 2rem 1rem;
    margin: 0rem 4rem;
  }
}
@media (max-width: 768px) {
  .hero {
    width: 100%;
  }
  .hero-text-bg {
    left: 2rem;
    right: 2rem;
  }
  .hero-text {
    padding: 2rem 1rem;
    margin: 0rem 4rem;
  }
}
@media (max-width: 576px) {
  .hero {
    width: 100%;
  }
  .hero-text-bg {
    left: 2rem;
    right: 2rem;
  }
  .hero-text {
    padding: 2rem 1rem;
    margin: 0rem 4rem;
  }
  .hero-desc {
    font-size: 1.2rem;
  }
}
/* Brands */
.brands {
  margin-top: 6rem;
}
.marquee {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  position: relative;
  user-select: none;
}
.marquee img {
  height: 100px;
  width: 100px;
}
.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  animation: scroll 10s linear infinite;
}
/* Keunggulan Section */
.keunggulan {
  margin-top: 5rem;
}
.kcol-left {
  position: relative;
  background-color: var(--grey);
  border-radius: 15px;
  color: var(--white);
  width: 100%;
  height: 100%;
}
.title-desc p {
  font-size: 2rem;
  font-weight: bold;
}
.kcol-sub-right ul {
  position: relative;
  list-style-type: none;
  z-index: 2;
}
.kcol-sub-right {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: var(--white);
  width: 100%;
  height: 100%;
}
.kcol-sub-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  z-index: 1;
}
.keunggulan .kcol-sub-right .icon i {
  font-size: 1.7rem;
  color: var(--blue);
}
.keunggulan .kcol-sub-right .title {
  font-weight: bold;
  font-size: 1.5rem;
}
.keunggulan .kcol-sub-right .desc {
  font-size: 1rem;
}
.keunggulan .ksr1 {
  background-image: url("../images/banner/banner-04.jpeg") !important;
}
.keunggulan .ksr2 {
  background-image: url("../images/banner/banner-05.jpeg") !important;
}
.keunggulan .ksr3 {
  background-image: url("../images/banner/banner-06.jpeg") !important;
}
.keunggulan .ksr4 {
  background-image: url("../images/banner/banner-07.jpeg") !important;
}

/* Langkah Section */
.langkah {
  margin-top: 6rem;
}
.langkah .accordion-number {
  font-size: 2rem;
  color: var(--grey);
}
.langkah .accordion-title {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.langkah .accordion-body {
  padding-left: 6rem;
  font-size: 1.5rem;
}
.langkah .accordion-item {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.langkah .accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.langkah .accordion-item:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.langkah .accordion-button:focus {
  background-color: var(--transparent);
  box-shadow: var(--transparent) !important;
}
.langkah .accordion-button:not(.collapsed) {
  color: var(--black);
  background-color: var(--transparent);
}
.accordion-button::after {
  flex-shrink: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  background-size: 3rem !important;
  margin-left: auto !important;
  content: "" !important;
  background-image: url("../images/icon/arrow-down-right-circle-fill.svg") !important;
  background-repeat: no-repeat !important;
  transition: transform 0.2s !important;
}
@media (max-width: 400px) {
  .langkah .accordion-title {
    font-size: 1.5rem;
  }
  .accordion-button::after {
    width: 2rem !important;
    height: 2rem !important;
    background-size: 2rem !important;
  }
}

/* Rent Preview Section */
.kendaraan {
  margin-top: 6rem;
}
.card-vehicle {
  overflow: hidden;
}
.card-vehicle img {
  height: 17rem;
  width: auto;
  object-fit: cover;
}
.card-vehicle .card-title-year ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.card-vehicle .card-title {
  font-weight: bold;
}
.card-vehicle .card-year {
  font-weight: lighter;
}
.card-vehicle .card-type {
  font-weight: lighter;
}
.card-vehicle .card-price {
  font-weight: bold;
}
.card-vehicle .card-specs ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: lighter;
}
.card-price ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.btn-card .btn {
  background-color: var(--blue);
  flex: 1;
}
.btn-card {
  display: flex;
  width: 100%;
}
.btn-card .btn:last-child {
  flex: 0.3 0 auto;
}

/* Testimoni/Review Section */
blockquote {
  margin: 0;
  padding: 0;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
.review {
  margin-top: 6rem;
  color: var(--white);
}
.review .container {
  background-color: var(--darkgrey);
  border-radius: 30px;
}
.review .card {
  color: var(--lightgrey);
  background-image: linear-gradient(
    90deg,
    var(--lightmediumgery),
    var(--mediumgrey),
    var(--darkgrey)
  );
  border-radius: 25px;
}
.review .card-body {
  background-image: linear-gradient(
    90deg,
    var(--lightmediumgery),
    var(--mediumgrey),
    var(--darkgrey)
  );
  border: none;
  border-radius: 25px;
}
.review-profile {
  display: flex;
}
.review-profile img {
  width: 5rem !important;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.review-profile .review-profile-name {
  font-weight: bold;
}
.review-profile .review-vehicle-name {
  font-weight: lighter;
}
.review-profile-info {
  margin-left: 1rem;
}

/* About Preview Section */
.about {
  margin-top: 6rem;
}
.banner-about {
  position: relative;
}
.banner-about img {
  border-radius: 30px;
}
.banner-text {
  position: absolute;
  top: 10%;
  left: 50%;
  color: white;
  text-align: left;
  padding: 0rem 1rem;
}
@media (max-width: 768px) {
  .banner-text {
    top: 10%;
    left: 0;
  }
  .banner-about img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .banner-text {
    top: 10%;
    left: 0;
  }
  .banner-about img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }
}

/* Footer Section */
.footer .container {
  margin-top: 6rem;
  background-color: var(--darkgrey);
  color: var(--white);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .followus ul {
  display: flex;
  font-size: 2rem;
}
.footer .contactus ul {
  display: flex;
}
.footer .followus i {
  letter-spacing: 2rem;
}
.footer .row {
  padding: 3rem 1rem;
}
.footer-cr {
  text-align: center;
  padding-bottom: 1rem;
}
.footer .followus {
  font-weight: bold;
}
.footer .contactus {
  font-weight: bold;
}
.footer .usefullinks p {
  font-weight: bold;
}
.footer .usefullinks a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}
@media (max-width: 768px) {
  .footer .section {
    margin: 0rem 2rem;
  }
  .footer .row {
    padding: 3rem 0rem;
  }
  .footer .followus i {
    letter-spacing: 1rem;
  }
}
@media (max-width: 576px) {
  .footer .usefullinks {
    margin-top: 2rem;
  }
}
